---
layout: default
---

<div class="container page--home">
  {%- if site.author.bio or site.author.projects -%}
  <section class="home-intro" aria-label="About this blog">
    <p>
      {{ site.author.bio }}
      {%- if site.author.projects %}
      Working on
      {%- for project in site.author.projects %}
        <a href="{{ project.url }}" target="_blank" rel="noopener">{{ project.name }}</a>{%- if forloop.last -%}.{%- else -%},{%- endif -%}
      {%- endfor -%}
      {%- endif %}
    </p>
  </section>
  {%- endif -%}

  {{ content }}

  {%- assign posts = paginator.posts | default: site.posts -%}

  <section class="post-list" aria-label="Posts">
    {%- for post in posts -%}
    <article class="post-row">
      <h2 class="post-row__title">
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
      <time class="post-row__date" datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | date: "%-d %b %Y" }}
      </time>
    </article>
    {%- endfor -%}
  </section>

  {%- if paginator.total_pages > 1 -%}
  <nav class="pagination" aria-label="Pagination">
    {%- if paginator.previous_page -%}
      <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer</a>
    {%- else -%}
      <span class="disabled">&larr; Newer</span>
    {%- endif -%}
    <span class="page-number">{{ paginator.page }} / {{ paginator.total_pages }}</span>
    {%- if paginator.next_page -%}
      <a href="{{ paginator.next_page_path | relative_url }}">Older &rarr;</a>
    {%- else -%}
      <span class="disabled">Older &rarr;</span>
    {%- endif -%}
  </nav>
  {%- endif -%}
</div>
